.Footer {
  height: 100px;
  background-color: darken(dodgerblue, 30%);

  .icons-container {
    width: 500px;
    text-align: center;
    margin: 0 auto;
    padding-top: 25px;
  }

  button {
    float: right;
    margin-right: 15px;
    position: relative;
    top: -10px;
  }
}
