@import "../components/common/styles/Common.scss";

.BlogPage {
  .Blog_header {
    height: 150px;
    background-color: white;
    text-align: center;
  }

  .Blog {
    background-color: #eee;
    min-height: 100vh;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
