@import "../components/common/styles/Common.scss";

section.Header {
  color: white;
  height: 100vh;
  background-image: url(/static/images/bg2.JPG);
  background-size: cover;

  .callout {
    max-width: 700px;
  }

  .my-name {
    color: white;
    display: inline-block;
    font-size: 48px;
  }

  .my-title {
    color: dodgerblue;
    font-size: 28px;
    display: inline-block;
  }

  .my-description {
    margin-top: 10px;
  }

  .my-resume {
    margin-top: 10px;
  }

  .icons-container {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
  }
}

section.AboutMe {
  padding-top: 100px;
  padding-bottom: 100px;
}

section.Skills {
  padding-top: 75px;
  padding-bottom: 75px;
}

section.CodeSamples {
  background: #eee;
  padding-top: 50px;
  padding-bottom: 50px;
}

section.Contact {
  padding: 50px 0;
  background: dodgerblue;
  label {
    color: white;
  }
  input {
    margin-bottom: 10px !important;
  }

  fieldset {
    width: 400px;
    margin: 0 auto;
  }

  input:not([type="submit"]),
  textarea {
    background-color: darken(dodgerblue, 20%);
    color: white;
    border-radius: 4px;
    width: 400px;
  }

  .form-button-container {
    width: 400px;
    margin: 0 auto;
    input {
      width: 100%;
    }
  }

  .section-header {
    text-align: center;
    color: white;
  }
}
