@import "../components/common/styles/Common.scss";

section.Header {
  color: white;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1493224533326-630c89563300?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=69b043c297cf8557edda53579fe403ed&auto=format&fit=crop&w=1350&q=80);
  background-size: cover;

  .callout {
    max-width: 700px;
  }

  .my-name {
    color: white;
    display: inline-block;
    font-size: 48px;
  }

  .my-title {
    color: dodgerblue;
    font-size: 28px;
    display: inline-block;
  }

  .my-description {
    margin-top: 10px;
  }

  .my-resume {
    margin-top: 10px;
  }
}

section.AboutMe {
  padding-top: 100px;
  padding-bottom: 100px;
}

section.Experience {
}

section.CodeSamples {
  background: #eee;
}

section.Contact {
  padding: 50px 0;
  background: dodgerblue;
  label {
    color: white;
  }
  input {
    margin-bottom: 10px !important;
  }

  .section-header {
    text-align: center;
    color: white;
  }
}
